.card {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--card-bg-primary);

    .card-image {
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .card-content {
        padding: 1rem;
    }

    // Sizes
    &.card-square {
        height: 20rem;
        max-height: 20rem;

        // figure.card-image
        .card-image {
            // height: 13rem;
            width: 100%;
            max-height: 13rem;
        }
    }
    &.card-landscape {
        max-height: 20rem;
        max-width: 600px;
        overflow: hidden;

        .card-image {
            height: 100%;
            max-width: 230px;
            object-fit: cover;
        }
    }
}
