/*========================================================================
Button Styles
- Button/Status Colors
- Button Sizes
- Button Shape (Pill, Rounded)
- Disabled State
- Buttons with text/icons
========================================================================*/

.btn {
    border: 0.0625rem solid transparent;
    line-height: 1.4;
    min-width: 7rem;
    margin-bottom: 1rem;
    @apply rounded-lg pt-2 pb-1.5;

    &.btn-sm {
        height: 2.5rem;
        @apply px-4;
    }
    &.btn-md {
        height: 3rem;
        @apply px-6;
    }
    &.btn-lg {
        height: 3.5rem;
        @apply px-9;
    }
    &.btn-xl {
        height: 4rem;
        @apply px-12 py-4;
    }

    // Set icon color to text color of button
    .icon {
        color: currentColor;
        margin-bottom: 0.25rem; // To compensate for padding in icon
    }

    // Color Status
    &.btn-primary {
        background-color: var(--btn-primary);
        color: var(--bg-primary);
    }
    &.btn-secondary {
        background-color: var(--btn-secondary);
        color: var(--bg-secondary);
    }

    // Outline Styles
    &.btn-outlined {
        border-width: 1px;
        border-style: solid;
        background-color: transparent;

        &.btn-primary {
            border-color: var(--text-primary);
            color: var(--text-primary);
        }

        &.btn-secondary {
            border-color: var(--text-secondary);
            color: var(--btn-secondary);
        }
    }
}
