@import './variables';

html {
    height: 100%;
}
body {
    min-height: 100%;
    // background-color: $bg;
    background-color: var(--bg);
    color: var(--color);
    transition: background-color 0.3s;
}

.theme-icon {
    fill: var(--color);
}
