@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';

/* https://coolors.co/palette/f6bd60-f7ede2-f5cac3-84a59d-f28482 */
/* https://coolors.co/palette/e9e9e1-90a9b0-cb9b9c-dfded8-3e3e3e */
/* Including scss variables in scss variables: https://sass-lang.com/documentation/breaking-changes/css-vars */

/* neutral-primary - milk white: https://colors.artyclick.com/color-names-dictionary/colors/FEFCFF */

$cream-light: rgba($color-cream-30, 0.6);

:root {
    --bg-primary: #{$color-cream-00};
    --bg-secondary: #eae5dd;
    --header-primary: #{$color-green-20};
    --header-secondary: #{$color-blush-50};
    --text-primary: #{$color-cream-70};
    --text-secondary: #121629;
    // --btn-primary: #eebbc3;
    --btn-primary: #{$color-blush-50};
    --btn-secondary: #b8c1ec;
    --link-primary: #{$color-cream-60};
    --link-secondary: #232946;
    --neutral-primary: #fefcff;
    --neutral-secondary: #ebeaeb;
    --card-bg-primary: #ffffff;
    --card-bg-secondary: #{$color-cream-10};
}

.dark-mode {
    --bg-primary: #{$color-gray-40};
    --bg-secondary: #121629;
    --text-primary: #fffffe;
    --text-secondary: #b8c1ec;
    --btn-primary: #eebbc3;
    --btn-secondary: #b8c1ec;
    --link-primary: #fffffe;
    --link-secondary: #fffffe;
    --neutral-primary: #545455;
    --neutral-secondary: #1c1c1c;
    --card-bg-primary: #ffffff;
    --card-bg-secondary: #{$color-cream-10};
}
