:root {
    --bg: #f3f5f4;
    --bg-primary: #fedc97;
    --bg-secondary: #fedc97;
    --color: #012f4b;
    --color-primary: #28666e;
    --color-secondary: #7c9885;
    --btn-primary: #f9bfb2;
    --btn-secondary: #f5cb5c;
    --btn-text-primary: #2f4858;
    --border-color: #b5b682;
    --color-navigation: #28656e;
}

.dark-mode {
    --bg: #2f4858;
    --bg-primary: #2f4858;
    --bg-secondary: #1c2b35;
    --color: #f5cb5c;
    --color-primary: #f9bfb2;
    --color-secondary: #f9e09d;
    --btn-primary: #f9bfb2;
    --btn-secondary: #f5cb5c;
    --btn-text-primary: #2f4858;
    --border-color: #0d2538;
    --color-navigation: #fee3ab;
}
