.icon {
    color: var(--text-primary);

    svg {
        max-height: 100%;
        max-width: 100%;
    }

    .svg-icon {
        stroke: none;
        fill: currentColor;
        height: 100%;
        width: auto;
    }
}
